# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp Files
.DS_Store
*.swp
*~
/build

# log files
*.log

# IDEA
.idea
cmake-build-debug

# Editor files/directories
/.vscode
/.vs
/CMakeSettings.json
.projections.json

# vcpkg
/vcpkg_installed
