[submodule "dependencies/transport"]
	path = dependencies/transport
	url = https://github.com/Quicr/transport.git
[submodule "dependencies/doctest"]
	path = dependencies/doctest
	url = https://github.com/doctest/doctest.git
