[submodule "dependencies/transport"]
	path = dependencies/transport
	url = git@github.com:Quicr/transport.git
	branch = main
[submodule "dependencies/doctest"]
	path = dependencies/doctest
	url = https://github.com/doctest/doctest.git
[submodule "dependencies/qname"]
	path = dependencies/qname
	url = https://github.com/quicr/qname
[submodule "dependencies/cantina"]
	path = dependencies/cantina
	url = git@github.com:Quicr/cantina
[submodule "dependencies/quiche"]
	path = dependencies/quiche
	url = https://github.com/paulej/quiche.git
        branch = paulej_quicr
