#pragma once
#include <vector>

#include <quicr/track_name.h>

#include <quicr/common.h>
#include "ctrl_message_types.h"
       
namespace quicr::ctrl_messages {  

    struct Parameter
    {
        ParameterTypeEnum type{0};
        uint64_t length{0};
        Bytes value;
    };
    