#pragma once
#include <vector>
#include <quicr/common.h>
#include <quicr/track_name.h>
#include "ctrl_message_types.h"
       
namespace quicr::messages {  

    struct Parameter
    {
        ParameterTypeEnum type{0};
        Bytes value;
    };

    using GroupId = uint64_t;
    using ObjectId = uint64_t;
        
    