
    /**
     * @brief Send{{message.name}}
     */
    void Send{{message.name}}(
        quicr::Transport& transport,
        const quicr::Transport::ConnectionContext& conn_ctx,
        {% for field in message.fields %}
            {% if field.name != "type" and field.name != "length" %}
                {% if field.is_optional %}
        std::optional<messages::{{ field.cpp_using_name }}> {{ field.name }}{{ "," if not loop.last else ");" }}
                {% else %}
        messages::{{ field.cpp_using_name }} {{ field.name }}{{ "," if not loop.last else ");" }}
                {% endif %}
            {% endif %}
        {% endfor %}

