
    {% set lower_name = message.spec_name.lower() %}
    /**
     * @brief Send{{message.name}}
     */
    void Send{{message.name}}(
        quicr::Transport& transport,
        const quicr::Transport::ConnectionContext& conn_ctx,
        {% for field in message.fields %}
            {% if field.name != "type" and field.name != "length" %}
                {% if field.is_optional %}
        std::optional<{{ field.cpp_using_name }}> {{ field.name }}{{ "," if not loop.last else "" }}
                {% else %}
        {{ field.cpp_using_name }} {{ field.name }}{{ "," if not loop.last else "" }}
                {% endif %}
            {% endif %}
        {% endfor %}
    ) 
    {
        {{message.name}} {{lower_name}} = {
        {% for field in message.fields %}
        {% if field.name != "type" and field.name != "length" %}
            .{{field.name}} = {{ field.name -}}{{ "," if not loop.last }}
        {% endif %}
        {% endfor %}
        };


        Bytes buffer;
        buffer.reserve(sizeof({{message.name}}));
        buffer << {{lower_name}};  

        transport.SendCtrlMsg(conn_ctx, buffer);              
    }

